$black: #2A2A2A;
$black-light: lighten($black, 45%);
$black-mid: lighten($black, 25%);
$lightBlue: #E7F0F9;
$veryLightBlue: lighten($lightBlue, 2%);
$deepBlue: #1171C3;
$off-white: darken(white, 2%);
$success-green: #43c501;


@import './norm';
@import './mixins';


html {
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 62.5%; // on passe de 16px de base à 10px
}
body {
  width: 100vw;
  padding: 0;
  margin: 0 auto;
  background: $off-white;
  overflow-x: hidden;

}

.title {
  font-family: 'Righteous', cursive;
  font-size: 3em;
  margin-bottom: 2.3em;
  padding-bottom: .5em;
  text-align: center;
  color: $black;

  @include md {
    font-size: 3.8em;
  }

  @include lg {
    font-size: 4.5em;
  }
}

@import './components/wrapper';
@import './components/jumbo';
@import './components/presentation';
@import './components/projets';
@import './components/formulaire';
@import './components/technologies';
@import './components/footer';
