.form__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;

}


.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  @include lg {
    flex-direction: row;
  }

}

.form__item {
  color: $black-light;
  width: 60vw;
  border-radius: .5em;
  padding: .9em;
  background: $lightBlue;
  border: none;
  font-size: 1.9em;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 2px 2px rgba(150, 150, 150, 0.7);
  align-self: center;

}

.form__name {
  margin-bottom: 1.3em;

  @include lg {
    width: 27vw;
  }
}

.form__email {
  margin-bottom: 1.3em;

  @include lg {
    width: 27vw;
  }
}

.form__textarea {
  height: 11em;
  resize  : none;
  overflow: auto;
  margin-bottom: 1.3em;
}

.form__button {
  color: $lightBlue;
  background: $deepBlue;
  width: 9em;
  font-size: 1.3em;
  transition: background-color .250s ease-out;

  &:hover {
    color: $black;
    border: .1px solid $deepBlue;
    background: $lightBlue;
    font-size: 1.22em;
    width: 9.6em;

  }
}

.form__success-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $success-green;
  font-size: 1.7em;
  display: none;

  @include lg {
    position: relative;
    top: -2.7em;
    left: -6em;
  };
}
.fa-check-circle {
  padding-right: .5em;
}
