
.jumbo {
  margin: 0 auto;
  width:100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(0, 23, 43, 0.45),
      rgba(0, 23, 43, 0.45)
    ), url('/imgs/clouds.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  font-size: 1.4em;
  padding-top: 3em;
  padding-left: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-family: 'Righteous', cursive;
  font-size: 1.7em;
  color: white;
  opacity: .9;
  margin-right: 39vw;

  @include sm {
    font-size: 1.9em;
  }

}

.navigation {
  display: none;

  @include lg {
    display: flex;
    width: 50%;
    justify-content: space-around;
  };
}

.navigation__item {
  color: white;
  opacity: .9;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .5px;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 600;
}

.burger {
  position: absolute;
  left: 89vw;
  top:6.7em;
  height: 30.2px;
  width: 3.5em;

  cursor: pointer;

  @include lg {
    display: none;
  }
}

.burger-1 {
  position: relative;
  top:9px;
  height: 4.2px;
  background: white;

  width: 1.8em;
}

.burger-1-top {
  position: relative;
  top: -3px;
  width: 1.8em;
  height: 4.2px;
  background: white;

}

.burger-1-bottom {
  position: relative;
  top: 8.5px;
  width: 1.8em;
  height: 4.2px;
  background: white;

}

.burger-2 {
  position: relative;
  top: -4px;
  left: 10px;
  width: 1.8em;
  height: 4.2px;
  background: white;

}

.burger-2-top {
  position: relative;
  top: -16px;
  left: 10px;
  width: 1.8em;
  height: 4.2px;
  background: white;

}

.burger-2-bottom {
  position: relative;
  top: -4px;
  left: 10px;
  width: 1.8em;
  height: 4.2px;
  background: white;

}

.navigation__menu {
  position: absolute;
  width: 95vw;
  display: flex;
  background: white;
  margin-top: 115px;
  padding: 4em 0;
  top: 5vh;
  left: 1.4vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: -10;

  @include lg {
    display: none;
  };
}

.navigation__menu-item {
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
  text-decoration: none;
  color: $black;
  padding: 1em 0;
  transition: all .4s ease-out;

  &:hover {
    color: $deepBlue;
    text-shadow: 1px 2px 2px rgba(150, 150, 150, 0.7);
  }
}

.bienvenue {
  text-align: center;
  padding-top: 10em;
}

.bienvenue__titre {
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  color: #ffde76;
  font-size: 2.7em;
  padding-top: 1.5em;
  letter-spacing: 1.5px;

    @include sm {
      font-size: 3.2em;
    }

    @include md {
      font-size: 4.6em;
    }

    @include lg {
      font-size: 6em;
    }
}
